* {
    font-family: Helvetica;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

p {
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
}

h1 {
    margin-left: 100px;
    margin-right: 100px;
}
  
footer {
    position: absolute;
    bottom: 0;
    height: 40px;
    margin-top: 40px;
}

li a:hover {
    background-color: #111;
}

div#count, div#prompt {
    text-align: center;
}

div#vis {
    margin: 0 auto;
}

input {
    margin-top: 10px;
}

div#content {
    margin-top: 50px;
}